<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-3 text-white animated slideInLeft">Enjoy Our<br>Delicious Meal</h1>
                <p class="text-white animated slideInLeft mb-4 pb-2">Tempor erat elitr rebum at clita. Diam dolor diam
                    ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita
                    duo justo magna dolore erat amet</p>
                <a href="" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Book A Table</a>
            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" src="img/hero.png" alt="">
            </div>
        </div>
    </div>
</div>
</div>
<section>
    <div class="container">
        <h1 class="text-center mt-5">Restaurant Registration</h1>
        <form action="/restaurant/save" method="post"
            class="was-validated mt-5 w-50 mx-auto">
            <div class="form-group"> <label for="adresse" class="form-label">Adresse:</label> <input type="text"
                    id="adresse" name="adresse" class="form-control" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="form-group"> <label for="numero_telephone" class="form-label">Numéro de Téléphone:</label>
                <input type="text" id="numero_telephone" name="numero_telephone" class="form-control" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="form-group"> <label for="email" class="form-label">Email:</label> <input type="email" id="email"
                    name="email" class="form-control" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="form-group"> <label for="url_facebook" class="form-label">URL Facebook:</label> <input
                    type="url" id="url_facebook" name="url_facebook" class="form-control"> </div>
            <div class="form-group"> <label for="url_youtube" class="form-label">URL YouTube:</label> <input type="url"
                    id="url_youtube" name="url_youtube" class="form-control"> </div>
            <div class="form-group"> <label for="url_twitter" class="form-label">URL Twitter:</label> <input type="url"
                    id="url_twitter" name="url_twitter" class="form-control"> </div>
            <div class="form-group"> <label for="url_linkedin" class="form-label">URL LinkedIn:</label> <input
                    type="url" id="url_linkedin" name="url_linkedin" class="form-control"> </div>
            <div class="form-group"> <label for="nom" class="form-label">Name:</label> <input type="text"
                    id="nom" name="nom" class="form-control" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="form-group"> <label for="specialty" class="form-label">Specialty:</label> <input type="text"
                    id="specialty" name="specialty" class="form-control" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="form-group d-flex justify-content-center p-4">

                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>
</section>