<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Our Restaurants</h5>
            <h1 class="mb-5">Select By name or category</h1>
        </div>
        <div class="tab-class d-flex justify-content-center " >
            <form class="d-flex flex-row align-items-center" action="/restaurant" method="get">
                <div class="form-group mb-3"> <select
                    id="id" name="id" class="form-control" required>
                    <% restaurants.forEach((restaurant)=> { %> <option value="<%= restaurant.id %>">
                        <%= restaurant.nom %>
                      </option>
                      <% }); %>
                  </select> </div>
                  <div class="form-group mb-3">
                      <button type="submit" class="btn btn-primary mx-3" id="filter">Filter</button>

                  </div>
                </form>
        </div>
    </div>
</div>