<!DOCTYPE html>
<html>
<head>
  <title>Newsletter Subscription Confirmation</title>
</head>
<body>
  <h1>Subscription Confirmation</h1>
  <p>Dear Subscriber,</p>
  <p>Thank you for subscribing to our newsletter. We're excited to keep you updated with our latest news and offers.</p>
  <p>If you did not subscribe to this newsletter, please ignore this email.</p>
  <p>Best regards,<br>The Team</p>
</body>
</html>
